
/***** about-section Start *****/
.about-section{
    width: 100%;
    height: auto;
    background-color:var(--theme--primary--color);
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.about__heading{
    text-align: left;
}
/* .about__content {
    /* max-width: 60%; */

/* .about__images{
   
} */ *
.about__content > p{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font--text-family);
    color: #4b4a4a;
    max-width: 70%;
    padding-top: 20px;
}
/***** about-section Ends *****/

/***** our services Starts *****/
.our-service{
    width: 100%;
    height: auto;
    background-image: url();
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.service-overly{
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    position: absolute;
    z-index: 1;
}
.service-wrapper{
    padding: 50px  0px 100px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.service-heading{
    padding-bottom: 50px;
}
/***** our services Ends *****/

