.blackbg {
  background-image: url(../assets/images/blackpattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
  height: 65vh;
}

.removeBtn {
  background-color: black;
  padding: 20px;
}